/*-- scss:defaults --*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

$primary: #554615;
$body-bg: #fcfbf7;

$font-size-base: 1.05rem; // ~18px, base is 17px for United theme

/*-- scss:rules --*/
